@model AirlineReservationSystem.Models.Flight

@{
    Layout = null;
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyMiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyMiles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline.AirlineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCity.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginCity.CityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
