@model List<AirlineReservationSystem.Models.Flight>
@* @model List<User> *@
@{
    Layout = "_AdminLayout";
}

<div class="pagetitle">
    <h1>Flights</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Flights Of Users</h5>

                    <!-- Table with stripped rows -->
                    <div class="table-responsive">
                        <table class=" datatable table table-hover">
                            <thead>
                                </tr>
                            <th>Flight Number</th>
                            <th>Flight Type</th>
                            <th>Airline Name</th>
                            <th>OriginCity Name</th>
                            <th>DestinationCity Name</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>TotalSeats</th>
                            <th>Available Seats</th>
                            <th>Coach</th>
                            <th>SkyMiles</th>
                            <th>Stops</th>
                            <th>Price</th>
                            <th>Status</th>
                           <th>CreatedAt</th>
                            <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var flights in Model)
                                {
                                    <tr>
                                        <td>@flights.FlightNumber</td>
                                        <td>@flights.FlightType</td>
                                        <td>@flights.Airline.AirlineName</td>
                                        <td>@flights.OriginCity.CityName</td>
                                         <td>@flights.DestinationCity.CityName</td>
                                        <td>@flights.DepartureTime.ToString("dd/MMM/yyyy hh:mm tt")</td>
                                        <td>@flights.ArrivalTime.ToString("dd/MMM/yyyy hh:mm tt")</td>
                                        <td>@flights.TotalSeats</td>
                                        <td>@flights.AvailableSeats</td>
                                        <td>@flights.Coach.CoachName</td>
                                        <td>@flights.SkyMiles</td>
                                        <td>@flights.Stops</td>
                                        <td>@flights.Price</td>
                                        <td>@flights.Status</td>
                                        <td data-type="date" data-format="YYYY/DD/MM">@flights.CreatedAt?.ToString("dd/MMM/yyyy")</td>
                                        <td data-type="date">
                                            <select class="form-control">

                                                <option value="Other" disabled selected>Action</option>
                                                <option value="Cancel">Cancel</option>
                                                <option value="Delayed">Delayed</option>

                                            </select>
                                        </td>@*  


                                        <td data-type="date"><a asp-action="" asp-controller="Admin" asp-route-id="@flights.FlightId" onclick="return confirm('Are You Sure Delete this User?')"><i class="bi bi-trash" style="color:red"></i></a></td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
