@model List<AirlineReservationSystem.Models.User>
@{
    Layout = "_AdminLayout";
}


    <div class="pagetitle">
        <h1>Users</h1>
        
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List OF Users</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                <th>Image</th>
                                    <th>User name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>PhoneNumber</th>
                                    <th>PreferredCreditCard</th>
                                    <th>CreditCardInfo</th>
                                    <th>SkyMiles</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Register Date</th>
                                    <th data-type="date">Action</th>
                                </tr>
                            
                            </thead>
                          <tbody>

                              @foreach (var users in Model)
            {
                                <tr>
                                    <td><img src="~/image/@users.ImagePath" alt="Alternate Text" width="70%"/></td>
                                    <td >@users.Username</td>
                                    <td>@users.Email</td>
                                    <td>@users.Address</td>
                                    <td>@users.PhoneNumber</td>
                                    <td>@users.PreferredCreditCard</td>
                                    <td>@users.CreditCardInfo</td>
                                    <td>@users.SkyMiles</td>
                                    <td data-type="date" data-format="YYYY/DD/MM">@users.CreatedAt</td>
                                    <td><a asp-action="DeleteUser"asp-controller="Admin" asp-route-id="@users.UserId" >delete</a></td>
                                </tr>

                                @* @Url.Action("Admin", "", new { id = users.UserId }) *@

                            }
                        </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

